// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Device Tree Source for Lenovo ECB-PR51 Board
 *
 * Copyright (c) 2026 Lenovo Group Limited
 * Copyright (c) 2026 Rockchip Electronics Co., Ltd.
 *
 * Hardware Specifications:
 *   - SoC: Rockchip RK3568 (Quad-core Cortex-A55, Mali-G52 GPU, 0.8 TOPS NPU)
 *   - Memory: 8GB DDR4
 *   - Storage: 32GB eMMC 5.1, microSD card slot
 *   - Ethernet: Dual Gigabit Ethernet (RGMII)
 *   - Wireless: AP6256 (BCM4356 WiFi 5 + BT 5.0)
 *   - USB: 2x USB 3.0 Host, 1x USB 2.0 OTG
 *   - SATA: 3x SATA 3.0 (6Gbps)
 *   - Display: HDMI 2.0 (4K@60fps), eDP 1.3
 *   - Audio: I2S, S/PDIF, PDM
 *   - Debug: UART2 (1500000 8N1)
 *
 * Based on Rockchip RK3568 EVB1 DDR4 V10 reference design
 */

/dts-v1/;
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/input/input.h>
#include <dt-bindings/interrupt-controller/arm-gic.h>
#include <dt-bindings/pinctrl/rockchip.h>
#include <dt-bindings/soc/rockchip,vop2.h>
#include "rk3568.dtsi"

/ {
    model = "Lenovo ECB-PR51";
    compatible = "lenovo,ecb-pr51", "rockchip,rk3568";

    aliases {
        ethernet0 = &gmac0;
        ethernet1 = &gmac1;
        mmc0 = &sdhci;
        mmc1 = &sdmmc0;
        mmc2 = &sdmmc1;
        serial2 = &uart2;
        usb0 = &usbdrd_dwc3;
        usb1 = &usb_host0_ehci;
        usb2 = &usb_host1_ehci;
    };

    chosen {
        stdout-path = "serial2:1500000n8";
    };

    /*
     * System Power Rails
     * DC 12V input → PMIC RK809 → Various voltage rails
     */
    dc_12v: dc-12v-regulator {
        compatible = "regulator-fixed";
        regulator-name = "dc_12v";
        regulator-always-on;
        regulator-boot-on;
        regulator-min-microvolt = <12000000>;
        regulator-max-microvolt = <12000000>;
    };

    vcc3v3_sys: vcc3v3-sys-regulator {
        compatible = "regulator-fixed";
        regulator-name = "vcc3v3_sys";
        regulator-always-on;
        regulator-boot-on;
        regulator-min-microvolt = <3300000>;
        regulator-max-microvolt = <3300000>;
        vin-supply = <&dc_12v>;
    };

    vcc5v0_sys: vcc5v0-sys-regulator {
        compatible = "regulator-fixed";
        regulator-name = "vcc5v0_sys";
        regulator-always-on;
        regulator-boot-on;
        regulator-min-microvolt = <5000000>;
        regulator-max-microvolt = <5000000>;
        vin-supply = <&dc_12v>;
    };

    /*
     * GMAC0 External Clock (125MHz for RGMII)
     * Generated by onboard crystal oscillator
     */
    gmac0_clkin: gmac0-clkin {
        compatible = "fixed-clock";
        clock-frequency = <125000000>;
        clock-output-names = "gmac0_clkin";
        #clock-cells = <0>;
    };

    /*
     * GMAC1 External Clock (125MHz for RGMII)
     * Generated by onboard crystal oscillator
     */
    gmac1_clkin: gmac1-clkin {
        compatible = "fixed-clock";
        clock-frequency = <125000000>;
        clock-output-names = "gmac1_clkin";
        #clock-cells = <0>;
    };

    /*
     * LED Indicators
     * Work LED: GPIO3_PB0, active high, heartbeat trigger
     */
    leds {
        compatible = "gpio-leds";
        pinctrl-names = "default";
        pinctrl-0 = <&work_led_pin>;

        work_led: work-led {
            gpios = <&gpio3 RK_PB0 GPIO_ACTIVE_HIGH>;
            linux,default-trigger = "heartbeat";
            label = "green:work";
        };
    };

    /*
     * WiFi/BT Power Sequencing
     * AP6256 module requires specific power-on sequence
     */
    sdio_pwrseq: sdio-pwrseq {
        compatible = "mmc-pwrseq-simple";
        pinctrl-names = "default";
        pinctrl-0 = <&wifi_enable_h>;
        reset-gpios = <&gpio3 RK_PD1 GPIO_ACTIVE_LOW>;
        clocks = <&rk809 1>;
        clock-names = "ext_clock";
        post-power-on-delay-ms = <200>;
    };

    /*
     * SATA 3.0 Power Enable
     * Controls power to SATA ports
     */
    sata_pwr_en: sata-pwr-en-regulator {
        compatible = "regulator-fixed";
        regulator-name = "sata_pwr_en";
        gpio = <&gpio0 RK_PB7 GPIO_ACTIVE_HIGH>;
        enable-active-high;
        regulator-always-on;
        regulator-boot-on;
    };

    /*
     * HDMI 5V Power
     * Supplied from 12V rail through LDO
     */
    hdmi_5v: hdmi-5v-regulator {
        compatible = "regulator-fixed";
        regulator-name = "hdmi_5v";
        regulator-always-on;
        regulator-boot-on;
        regulator-min-microvolt = <5000000>;
        regulator-max-microvolt = <5000000>;
        vin-supply = <&vcc5v0_sys>;
    };
};

/*
 * GMAC0 - Primary Ethernet Port (LAN1)
 * PHY: Integrated or external RGMII PHY
 * Connector: RJ45 with magnetics
 */
&gmac0 {
    compatible = "rockchip,rk3568-gmac", "snps,dwmac-4.20a";
    
    /* Clock configuration */
    clock-names = "stmmaceth", "pclk_rx", "pclk_tx", "ptp_ref";
    clocks = <&cru GMAC0_CLK>, <&cru GMAC0_RX>, <&cru GMAC0_TX>, <&cru GMAC0_PTP_REF>;
    assigned-clocks = <&cru GMAC0_TX>, <&cru GMAC0_RX>, <&cru GMAC0_PTP_REF>;
    assigned-clock-parents = <&cru GMAC0_TX>, <&cru GMAC0_RX>, <&gmac0_clkin>;
    assigned-clock-rates = <125000000>, <125000000>, <125000000>;
    clock_in_out = "input";
    
    /* PHY configuration */
    phy-mode = "rgmii-id";
    pinctrl-names = "default";
    pinctrl-0 = <&gmac0_miim &gmac0_tx_bus2 &gmac0_rx_bus2 &gmac0_rgmii_clk &gmac0_rgmii_bus>;
    
    /* Timing parameters (tuned for signal integrity) */
    rx_delay = <0x30>;  /* 48 * 15.625ps = 750ps */
    tx_delay = <0x2f>;  /* 47 * 15.625ps = 734ps */
    
    /* PHY reset */
    snps,reset-gpio = <&gpio4 RK_PB1 GPIO_ACTIVE_HIGH>;
    snps,reset-active-low;
    snps,reset-delays-us = <0 20000 100000>;
    
    rockchip,grf = <&grf>;
    status = "okay";

    mdio {
        compatible = "snps,dwmac-mdio";
        #address-cells = <1>;
        #size-cells = <0>;

        rgmii_phy0: ethernet-phy@0 {
            compatible = "ethernet-phy-ieee802.3-c22";
            reg = <0>;
            max-speed = <1000>;
        };
    };
};

/*
 * GMAC1 - Secondary Ethernet Port (LAN2)
 * PHY: Integrated or external RGMII PHY
 * Connector: RJ45 with magnetics
 */
&gmac1 {
    compatible = "rockchip,rk3568-gmac", "snps,dwmac-4.20a";
    
    /* Clock configuration */
    clock-names = "stmmaceth", "pclk_rx", "pclk_tx", "ptp_ref";
    clocks = <&cru GMAC1_CLK>, <&cru GMAC1_RX>, <&cru GMAC1_TX>, <&cru GMAC1_PTP_REF>;
    assigned-clocks = <&cru GMAC1_TX>, <&cru GMAC1_RX>, <&cru GMAC1_PTP_REF>;
    assigned-clock-parents = <&cru GMAC1_TX>, <&cru GMAC1_RX>, <&gmac1_clkin>;
    assigned-clock-rates = <125000000>, <125000000>, <125000000>;
    clock_in_out = "input";
    
    /* PHY configuration */
    phy-mode = "rgmii-id";
    pinctrl-names = "default";
    pinctrl-0 = <&gmac1m1_miim &gmac1m1_tx_bus2 &gmac1m1_rx_bus2 &gmac1m1_rgmii_clk &gmac1m1_rgmii_bus>;
    
    /* Timing parameters (tuned for signal integrity) */
    rx_delay = <0x26>;  /* 38 * 15.625ps = 594ps */
    tx_delay = <0x4f>;  /* 79 * 15.625ps = 1234ps */
    
    /* PHY reset */
    snps,reset-gpio = <&gpio4 RK_PC1 GPIO_ACTIVE_HIGH>;
    snps,reset-active-low;
    snps,reset-delays-us = <0 20000 100000>;
    
    rockchip,grf = <&grf>;
    status = "okay";

    mdio {
        compatible = "snps,dwmac-mdio";
        #address-cells = <1>;
        #size-cells = <0>;

        rgmii_phy1: ethernet-phy@0 {
            compatible = "ethernet-phy-ieee802.3-c22";
            reg = <0>;
            max-speed = <1000>;
        };
    };
};

/*
 * eMMC Storage
 * 32GB eMMC 5.1, 8-bit interface, up to 200MHz
 */
&sdhci {
    bus-width = <8>;
    max-frequency = <200000000>;
    non-removable;
    pinctrl-names = "default";
    pinctrl-0 = <&emmc_bus8 &emmc_cmd &emmc_clk>;
    vmmc-supply = <&vcc3v3_sys>;
    vqmmc-supply = <&vccio_sd>;
    status = "okay";
};

/*
 * SD Card Slot
 * 4-bit SDIO, card detect, write protect
 */
&sdmmc0 {
    bus-width = <4>;
    cap-sd-highspeed;
    cd-gpios = <&gpio0 RK_PA4 GPIO_ACTIVE_LOW>;
    disable-wp;
    pinctrl-names = "default";
    pinctrl-0 = <&sdmmc0_bus4 &sdmmc0_cmd &sdmmc0_clk>;
    vmmc-supply = <&vcc3v3_sys>;
    vqmmc-supply = <&vccio_sd>;
    status = "okay";
};

/*
 * SDIO for WiFi Module (AP6256)
 * 4-bit SDIO, BCM4356 WiFi 5
 */
&sdmmc1 {
    bus-width = <4>;
    cap-sd-highspeed;
    cap-sdio-irq;
    keep-power-in-suspend;
    non-removable;
    pinctrl-names = "default";
    pinctrl-0 = <&sdmmc1_bus4 &sdmmc1_cmd &sdmmc1_clk>;
    vmmc-supply = <&vcc3v3_sys>;
    vqmmc-supply = <&vccio_sd>;
    mmc-pwrseq = <&sdio_pwrseq>;
    status = "okay";
};

/*
 * SATA Controller 0
 * SATA 3.0 (6Gbps), AHCI mode
 */
&sata0 {
    pinctrl-names = "default";
    pinctrl-0 = <&sata0_pins>;
    phy-supply = <&sata_pwr_en>;
    target-supply = <&sata_pwr_en>;
    status = "okay";
};

/*
 * SATA Controller 1
 * SATA 3.0 (6Gbps), AHCI mode
 */
&sata1 {
    pinctrl-names = "default";
    pinctrl-0 = <&sata1_pins>;
    phy-supply = <&sata_pwr_en>;
    target-supply = <&sata_pwr_en>;
    status = "okay";
};

/*
 * SATA Controller 2
 * SATA 3.0 (6Gbps), AHCI mode
 */
&sata2 {
    pinctrl-names = "default";
    pinctrl-0 = <&sata2_pins>;
    phy-supply = <&sata_pwr_en>;
    target-supply = <&sata_pwr_en>;
    status = "okay";
};

/*
 * Debug UART (Serial Console)
 * 1500000 8N1, accessible via debug header
 */
&uart2 {
    pinctrl-names = "default";
    pinctrl-0 = <&uart2m0_xfer>;
    status = "okay";
};

/*
 * UART9 for Bluetooth Module
 * BCM43430A1 Bluetooth 5.0
 */
&uart9 {
    pinctrl-names = "default";
    pinctrl-0 = <&uart9m0_xfer &uart9m0_ctsn &uart9m0_rtsn>;
    status = "okay";

    bluetooth {
        compatible = "brcm,bcm43430a1";
        clocks = <&rk809 1>;
        clock-names = "lpo";
        device-wakeup-gpios = <&gpio2 RK_PC2 GPIO_ACTIVE_HIGH>;
        host-wakeup-gpios = <&gpio2 RK_PC1 GPIO_ACTIVE_HIGH>;
        shutdown-gpios = <&gpio2 RK_PC0 GPIO_ACTIVE_HIGH>;
    };
};

/*
 * USB 2.0 PHY 0
 * Connected to USB Host 0
 */
&usb2phy0 {
    status = "okay";
};

/*
 * USB 2.0 PHY 1
 * Connected to USB Host 1
 */
&usb2phy1 {
    status = "okay";
};

/*
 * USB Host 0 (EHCI)
 * USB 2.0 Host controller
 */
&usb_host0_ehci {
    status = "okay";
};

&usb_host0_ohci {
    status = "okay";
};

/*
 * USB Host 1 (EHCI)
 * USB 2.0 Host controller
 */
&usb_host1_ehci {
    status = "okay";
};

&usb_host1_ohci {
    status = "okay";
};

/*
 * USB 3.0 DWC3 Controller
 * Configured as Host mode
 */
&usbdrd3 {
    status = "okay";
};

&usbdrd_dwc3 {
    dr_mode = "host";
    status = "okay";
};

/*
 * HDMI Controller
 * HDMI 2.0, supports 4K@60fps
 */
&hdmi {
    pinctrl-names = "default";
    pinctrl-0 = <&hdmi_i2c_xfer &hdmi_cec>;
    ddc-en-gpios = <&gpio0 RK_PB5 GPIO_ACTIVE_HIGH>;
    hpd-gpios = <&gpio0 RK_PB6 GPIO_ACTIVE_HIGH>;
    pinctrl-0 = <&hdmi_hpd>;
    status = "okay";
};

/*
 * PMIC I2C Bus
 * RK809 Power Management IC
 */
&i2c0 {
    pinctrl-names = "default";
    pinctrl-0 = <&i2c0_xfer>;
    status = "okay";

    rk809: pmic@20 {
        compatible = "rockchip,rk809";
        reg = <0x20>;
        pinctrl-names = "default";
        pinctrl-0 = <&pmic_int_l>;
        interrupt-parent = <&gpio0>;
        interrupts = <3 IRQ_TYPE_LEVEL_LOW>;
        #clock-cells = <1>;
        clock-output-names = "rk808-clkout1", "rk808-clkout2";
        wakeup-source;

        regulators {
            vdd_logic: DCDC_REG1 {
                regulator-name = "vdd_logic";
                regulator-min-microvolt = <500000>;
                regulator-max-microvolt = <1350000>;
                regulator-initial-mode = <0x2>;
                regulator-always-on;
                regulator-boot-on;
            };

            vdd_gpu: DCDC_REG2 {
                regulator-name = "vdd_gpu";
                regulator-min-microvolt = <500000>;
                regulator-max-microvolt = <1350000>;
                regulator-initial-mode = <0x2>;
                regulator-always-on;
                regulator-boot-on;
            };

            vcc_ddr: DCDC_REG3 {
                regulator-name = "vcc_ddr";
                regulator-always-on;
                regulator-boot-on;
            };

            vcc_1v8: DCDC_REG4 {
                regulator-name = "vcc_1v8";
                regulator-min-microvolt = <1800000>;
                regulator-max-microvolt = <1800000>;
                regulator-always-on;
                regulator-boot-on;
            };

            vdda0v9_pmu: LDO_REG3 {
                regulator-name = "vdda0v9_pmu";
                regulator-min-microvolt = <900000>;
                regulator-max-microvolt = <900000>;
                regulator-always-on;
                regulator-boot-on;
            };

            vcc3v3_pmu: LDO_REG6 {
                regulator-name = "vcc3v3_pmu";
                regulator-min-microvolt = <3300000>;
                regulator-max-microvolt = <3300000>;
                regulator-always-on;
                regulator-boot-on;
            };

            vccio_sd: LDO_REG5 {
                regulator-name = "vccio_sd";
                regulator-min-microvolt = <1800000>;
                regulator-max-microvolt = <3300000>;
                regulator-always-on;
                regulator-boot-on;
            };

            vcca_1v8: LDO_REG7 {
                regulator-name = "vcca_1v8";
                regulator-min-microvolt = <1800000>;
                regulator-max-microvolt = <1800000>;
                regulator-always-on;
                regulator-boot-on;
            };

            vccio_acodec: LDO_REG4 {
                regulator-name = "vccio_acodec";
                regulator-min-microvolt = <3300000>;
                regulator-max-microvolt = <3300000>;
                regulator-always-on;
                regulator-boot-on;
            };
        };
    };
};

/*
 * Pin Control Configuration
 */
&pinctrl {
    /* LED Control */
    work_led_pin: work-led-pin {
        rockchip,pins = <3 RK_PB0 RK_FUNC_GPIO &pcfg_pull_none>;
    };

    /* WiFi Enable */
    wifi_enable_h: wifi-enable-h {
        rockchip,pins = <3 RK_PD1 RK_FUNC_GPIO &pcfg_pull_none>;
    };

    /* PMIC Interrupt */
    pmic_int_l: pmic-int-l {
        rockchip,pins = <0 RK_PB3 RK_FUNC_GPIO &pcfg_pull_up>;
    };

    /* SATA Power Enable */
    sata_pwr_en_pin: sata-pwr-en-pin {
        rockchip,pins = <0 RK_PB7 RK_FUNC_GPIO &pcfg_pull_none>;
    };

    /* HDMI HPD */
    hdmi_hpd: hdmi-hpd {
        rockchip,pins = <0 RK_PB6 RK_FUNC_GPIO &pcfg_pull_up>;
    };
};
